body{
        background-color: grey;
    }
    .hidden {
        display: none;
    }
    .visible {
        display: block;
    }
    .chatapp {
        border-bottom: 1px dotted lightgrey;
        text-align:center;
    }
    .chatapp h1 {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        color: lightgrey;
        text-shadow: 1px 1px 2px black;
    }
    .messages{
        float: left;
        width: 330px;
        /*max-height: 200px;*/
        border-right: 1px dotted lightgrey;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
        display: table;
        width: 560px;
        /*background-color: #E4EDED;*/
        border-radius: 2px;
        border: 1px dotted lightgrey;
        font-family: helvetica;
    }
    .connected-users{
        float: left;
        overflow: auto;
        width: 229px;
        word-wrap: break-word;
        max-height: 550px;
    }
    .connected-users ul{
        list-style: circle;
    }
    .button-list {
        /*display: inline;
        list-style:none;*/
        height: 24px;
    }
    .button-list ul,
    .button-list li{
        display: inline;
        margin: 0;
        padding: 0;
    }
    .button-list li {
        margin-left 2px;
        float: right;
    }
    #newMessage,
    #newNick {
        width:323px;
    }
    .message-list {
        overflow: auto;
        height:500px;
        max-height: 500px;
        background-color: lightgrey;
        border-bottom: 1px dotted lightgrey;
    }
    #message-list {
        border-radius: 3px 3px 3px 3px;
        list-style: none outside none;
        margin-bottom: 5px;
        padding: 5px;
    }
    #message-list li {
        word-wrap: break-word;
        width:310px;
        /*border-bottom: 1px dotted lightgrey;*/
    }